/*** HOMEPAGE CSS STYLESHEET ***/


/* SECTION: HERO */
#hero {
    display: flex;
    justify-content: space-evenly;
}

#hero-text {
    margin-left: 80px;
}

#hero-text h1 {
    color: #FFF;
    font-family: Mina;
    font-size: 60px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 19px;
}

#hero-text p {
    width: 632px;
    height: 191px;
    margin: 0px;
    color: #FFF;
    font-family: Mina;
    font-size: 30px;
    font-weight: 400;
}

#hero-text button {
    display: inline-block;
    margin: 105px 25px 0 0;
}

#profile-image img {
    margin: 55px 88px 0 51px;
    width: 434px;
    height: 469px;
    transform: scaleX(-1);
    border-radius: 469px;
    background: cover;
    box-shadow: 18px 15px 130.9px -16px rgba(0, 0, 0, 0.25);
}

/* SECTION: CURRENTLY... */
#current-objective {
    min-width: 1280px;
    margin: 140px 0 113px 0;
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(255, 243, 243, 0.95) 0%, rgba(255, 198, 199, 0.95) 100%);
}

#current-objective h2 {
    text-align: center;
    font-family: Mina;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

#current-objective p {
    width: 900px;
    text-align: center;
    font-family: Mina;
    color: #0B0A37;
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* SECTION: PROJECT HIGHLIGHTS */
#project-highlights h2 {
    text-align: center;
    font-family: Mina;
    font-size: 60px;
    font-weight: 700;
    margin: 10px 0 60px 0;
}

.home-project-item {
    width: 1120px;
    height: 260px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 243, 243, 0.95) 0%, rgba(255, 212, 213, 0.95) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-img {
    width: 450px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.pi-a {
    background-image: url(images/project-car.png);
}

.pi-b {
    background-image: url(images/project-libra.png);
}

#project-details {
    width: 565px;
    margin-left: 10px;
}

#project-details h3 {
    color: #0B0A37;
    font-family: Mina;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

#project-details p {
    color: #0B0A37;
    font-family: Mina;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 45px 0;
}

.tags {
    display: flex;
}

.tag {
    padding: 8px 24px;
    margin-right: 16px;
    border-radius: 15px;
    background: #AB5071;
    text-align: center;
    font-size: 15px;
}

.tool {
    background-color: #634592;
}

#all-project-items {
    display: block;
    width: 1120px;
    margin: 0 auto;
}

/* SECTION: ABOUT ME */
#about-me {
    min-width: 1280px;
    height: 500px;
    margin: 112px 0;
    padding: 56px 0 56px 0;
    background: linear-gradient(90deg, rgba(255, 243, 243, 0.95) 0%, rgba(255, 198, 199, 0.95) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about-img {
    width: 406px;
    height: 395px;
    background: cover;
}

#about-text h2 {
    font-family: Mina;
    font-size: 60px;
    margin-bottom: 0px;
}

#about-text p {
    width: 665px;
    color: #0B0A37;
    font-family: Mina;
    font-size: 22px;
    margin: 15px 0 45px 0;
}

/* SECTION: CONTACT */
#contact h2 {
    text-align: center;
    font-family: Mina;
    font-size: 60px;
    margin-bottom: 30px;
}

#contact p {
    width: 930px;
    color: #FFF;
    text-align: center;
    font-family: Mina;
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

#home-form-input {
    display: block;
    margin: 0 auto;
    width: 800px;
    padding: 60px 175px 0 175px;
}

#home-form-input label {
    display: block;
    color: #FFF;
    font-family: Mina;
    font-size: 25px;
    margin-bottom: 20px;
}

#home-form-input input, 
#home-form-input textarea {
    width: 90%;
    margin: 0 0 50px 0;
    padding: 15px 30px;
    border: none;
    border-bottom: 3px solid #D17884;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(255, 168, 171, 0.1);
    color: #FFF;
    font-family: Mina;
    font-size: 22px;
}

#home-form-input textarea {
    margin-bottom: 10px;
}

#home-form-input input::placeholder,
#home-form-input textarea::placeholder {
    font-family: Mina;
    font-size: 20px;
    color: #c8c8c8;
}

#home-contact-form .default-button {
    margin-top: 50px;
    margin-bottom: 120px;
}