/*** RESUME CSS STYLESHEET ***/


/* GLOBAL STYLES */
#resume-pg h1 {
    text-align: left;
}

#resume-pg p {
    font-size: 22px;
    text-align: left;
    margin: 0;
}

#resume-pg #profile-image img {
    transform: scaleX(1);
}


/* SECTION: PAGE HEADER */
#res-page-header {
    display: flex;
    padding: 0px 80px;
}

#res-profile-image img {
    margin: 55px 60px 0 20px;
    width: 434px;
    height: 469px;
    border-radius: 469px;
    background: cover;
    box-shadow: 18px 15px 130.9px -16px rgba(0, 0, 0, 0.25);
}

#bio {
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;
    padding: 30px 0;
}

#bio h1 {
    margin: 0;
    font-size: 70px;
}

#bio h6 {
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 400;
}


/* SECTION: RESUME */
#resume {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin: 120px 0;
}

#c1 {
    width: 60%;
}

#c2 {
    width: 40%;
}

.column h2 {
    font-size: 60px;
}

dt {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

dd.org {
    margin: 7px 0;
    font-size: 20px;
}

dd.date {
    margin: 0;
    font-size: 18px;
    color: #FFA4A7;
}

#c2-h2 {
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 0;
}

dd.edu-org {
    margin: 7px 0;
    font-size: 25px;
}

dd.edu-date {
    margin: 0;
    font-size: 20px;
    color: #FFA4A7;
}

#c1 ul {
    list-style-type: circle;
    padding-left: 35px;
}

#c2 dt {
    margin-top: 40px;
}


/* FOOTER */
hr {
    margin-bottom: 0;
    border-width: 1.5px;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

.footer-a {
    margin: 30px 200px 0 80px;
}

#footer h1 {
    font-family: Amarante;
    color: #FFF;
    font-size: 40px;
    margin-top: 50px;
}

#footer p {
    margin-top: 30px;
    color: #FFF;
    font-family: Mina;
    font-size: 15px;
    line-height: 200%;
}

.footer-nav {
    display: block;
    margin: 20px 0 80px 0;
    padding: 37px 162px 37px 0;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    color: #FFF;
    font-family: "Mina", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
    border-bottom: 2px solid transparent;
}

.footer-nav li:hover {
    color: #FFC1C4;
    border-bottom-color: #FFC1C4;
    transition: 0.3s;
}