/*** RESUME CSS STYLESHEET ***/


/* GLOBAL STYLES */
#resume-pg h1 {
    text-align: left;
}

#resume-pg p {
    font-size: 22px;
    text-align: left;
    margin: 0;
}


/* SECTION: PAGE HEADER */
#res-page-header {
    display: flex;
    padding: 0px 80px;
}

#res-profile-image img {
    margin: 55px 60px 0 20px;
    width: 434px;
    height: 469px;
    border-radius: 469px;
    box-shadow: 18px 15px 130.9px -16px rgba(0, 0, 0, 0.25);
}

#bio {
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;
    padding: 30px 0;
}

#bio h1 {
    margin: 0;
    font-size: 70px;
}

#bio h6 {
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 400;
}


/* SECTION: RESUME */
#resume {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin: 80px 0;
}

#c1 {
    width: 60%;
}

#c2 {
    width: 40%;
}

.column h2 {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 0;
}

dt {
    font-size: 30px;
    font-weight: 700;
    margin-top: 45px;
}

#dt-title {
    margin-top: 30px;
}

#resume li {
    width: 80%;
    line-height: 200%;
}

dd.org {
    margin: 7px 0;
    font-size: 20px;
}

dd.date {
    margin: 0;
    font-size: 18px;
    color: #FFA4A7;
}

#c2-h2 {
    font-size: 45px;
    margin-top: 80px;
}

/* EDUCATION */
dd.edu-org {
    margin: 7px 0;
    font-size: 25px;
}

dd.edu-date {
    margin: 0;
    font-size: 20px;
    color: #FFA4A7;
}

#c1 ul {
    list-style-type: circle;
    padding-left: 35px;
}

/* HOBBIES */
#hobby-list li {
    font-size: 18px;
}

/* SKILLS TABLE */
#skill-table {
    border: 3px solid #FFCACB;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

#skill-table td {
    padding: 10px 0;
    font-size: 19px;
    vertical-align: middle;
    text-align: center;
}

#table-title {
    margin-bottom: 20px;
}

.subtext {
    font-size: 12px;
}

/* TOOLS TABLE */
#tool-table {
    border: 3px solid #FFCACB;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

#tool-table th {
    width: 50%;
    font-size: 25px;
    color: #FFCACB;
    padding: 7px 0;
}

#tool-table td {
    padding: 10px 0;
    font-size: 19px;
    vertical-align: middle;
    text-align: center;
}