/***** GLOBAL CSS STYLESHEET *****/

/* Import other CSS stylesheets */
@import url('homepage_style.css');
@import url('projects_style.css');
@import url('resume_style.css');
@import url('process_style.css');
@import url('contact_style.css');


/*** STANDALONE STYLES ***/
body, footer {
    margin: 0;
    font-family: "Mina", sans-serif;
    color: #FFF;
}

h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 25px;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

/* Buttons */
.default-button {
    padding: 10px 45px;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    background: #A73D55;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    text-align: center;
    font-family: Mina;
    font-size: 25px;
    font-weight: 400;
}

.default-button:hover {
    background-color: #c25971;
    transform: scale(1.05);
    transition: 0.2s;
}


/*** UTILITY CLASSES: TEXT ***/
.text-color-white {
    color: #FFF;
}

.text-color-pink {
    color: #FFC1C4;
}

.text-color-white-pink-gradient {
    /*Source: https://cssgradient.io/blog/css-gradient-text/*/
    background: -webkit-linear-gradient(90deg, #FFF 0%, #FFA1A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.text-color-blue-pink-gradient {
    /*Source: https://cssgradient.io/blog/css-gradient-text/*/
    background: -webkit-linear-gradient(90deg, #A73D55 0%, #22133B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: bold;
    font-weight: 700;
}


/*** UTILITY CLASSES: BACKGROUNDS ***/
.dark-blue-bg {
    background: #0B0A37;
    min-width: 1280px;
    position: relative;
}

.pink-blue-gradient-bg {
    min-width: 1280px;
    height: 596px;
    background: linear-gradient(180deg, #953B46 0%, #070936 100%);
}

.blue-pink-gradient-bg {
    min-width: 1280px;
    background: linear-gradient(180deg, #2e1a4f 0%, #8C3845 100%);
}


/*** HEADER & NAVIGATION ***/
#header-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 80px;
}

#logo-h1 {
    color: #FFF;
    font-family: "Amarante", serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
}

#nav-items ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-items li {
    color: #FFF;
    font-family: "Mina", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 45px;
    border-bottom: 2px solid transparent;
}

#nav-items li:hover {
    color: #FFC1C4;
    border-bottom-color: #FFC1C4;
    transition: 0.3s;
}


/*** FOOTER ***/
footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #FFF;
}

.footer-a {
    margin: 30px 200px 0 80px;
}

#footer h1 {
    font-family: Amarante;
    color: #FFF;
    font-size: 40px;
    margin-top: 50px;
}

#footer p {
    margin-top: 30px;
    color: #FFF;
    font-family: Mina;
    font-size: 15px;
    line-height: 200%;
}

.footer-nav {
    display: block;
    margin: 20px 0 80px 0;
    padding: 37px 162px 37px 0;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    color: #FFF;
    font-family: "Mina", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
    border-bottom: 2px solid transparent;
}

.footer-nav li:hover {
    color: #FFC1C4;
    border-bottom-color: #FFC1C4;
    transition: 0.3s;
}